[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cAnchor/lib/forge-std"]
	path = cAnchor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
